.Index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  width: 400px;
  height: auto;
}
.row {
  display: flex;
  width: 100%;
}

#projects .project-wrapper .row .calc-row {
  margin-bottom: 0px !important;
}

.calculation-area {
  border-radius: 10px 10px 0 0;
}
